<Partial name="Toast" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@using Services.ViewModels;
@model AdminRequestViewModel;
@{
    Layout = "_Admin";
}


<div>
    <div class="px-sm-3 px-1" id="nav-home">

        <div class="container-fluid">
            <nav>
                <div class="nav nav-tabs row g-0 border-0 pb-4 pt-2" id="status-tab" role="tablist">
                    <div class="allstatus  ">
                        <button class="w-100 nav-link dashboardtab active position-relative alltabs border-0" id="status-new" data-bs-toggle="tab" data-bs-target="#status_new" type="button" role="tab" aria-controls="status_new" aria-selected="true">
                            <div class="p-2 new rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons float-start small"><i class="d-none d-md-block bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                                </div>
                                <div class="fw-bolder fs-4 p-2 text-start">
                                    @Model.requests.Count(m => m.Status == 1)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                    <div class="allstatus">
                        <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-pending" data-bs-toggle="tab" data-bs-target="#status_pending" type="button" role="tab" aria-controls="status_pending" aria-selected="false">
                            <div class="p-2 pending rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons  float-start small"> <i class="d-none d-md-block bi bi-person-exclamation"></i></div><div class="small fw-bold">PENDING</div>
                                </div>
                                <div class="fw-bolder fs-4 p-2 text-start">
                                    @Model.requests.Count(m => m.Status == 2)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                    <div class="allstatus">
                        <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-active" data-bs-toggle="tab" data-bs-target="#status_active" type="button" role="tab" aria-controls="status_active" aria-selected="false">
                            <div class="p-2 activecase rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons  float-start small"><i class="d-none d-md-block bi bi-check2-circle"></i></div><div class="small fw-bold">ACTIVE</div>
                                </div>
                                <div class="fw-bolder fs-4 p-2 text-start">
                                    @Model.requests.Count(m => m.Status == 4 || m.Status == 5)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                    <div class="allstatus">
                        <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-conclude" data-bs-toggle="tab" data-bs-target="#status_conclude" type="button" role="tab" aria-controls="status_conclude" aria-selected="false">
                            <div class="p-2 conclude rounded-3">
                                <div class="d-flex">
                                    <div class="px-2  icons float-start small"> <i class="d-none d-md-block bi bi-arrow-clockwise"></i></div><div class="small fw-bold">CONCLUDE</div>
                                </div>
                                <div class="fw-bolder fs-4 p-2 text-start">
                                    @Model.requests.Count(m => m.Status == 6)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                    <div class="allstatus">
                        <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-toclose" data-bs-toggle="tab" data-bs-target="#status_toclose" type="button" role="tab" aria-controls="status_toclose" aria-selected="false">
                            <div class="p-2 toclose rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons  float-start small"><i class="d-none d-md-block bi bi-person-lock"></i></div><div class="small fw-bold">TO CLOSE</div>
                                </div>
                                <div class="fw-bolder fs-4 p-2 text-start">
                                    @Model.requests.Count(m => m.Status == 3 || m.Status == 7 || m.Status == 8)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                    <div class="allstatus">
                        <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#status_unpaid" type="button" role="tab" aria-controls="status_unpaid" aria-selected="false">
                            <div class="p-2 unpaid rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons  float-start "> <i class="d-none d-md-block bi bi-currency-dollar bi-2x"></i></div><div class="small fw-bold">UNPAID</div>
                                </div>
                                <div class="fw-bolder fs-4 p-2 text-start">
                                    @Model.requests.Count(m => m.Status == 9)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                </div>
            </nav>
        </div>

        <div class="d-flex justify-content-between pt-3 px-3 container-fluid">
            <div class="h4 m-0 innerhead ">
                Patient
                (<small class="innerhead-sm" id="statusnamehead" style="color:#203f98; "></small>)
            </div>
            <div class="d-flex h-25">
                <button class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0  height-fit-content" data-toggle="modal" data-target="#SendLinkModal">

                    <i class="fa-regular fa-paper-plane  " style="color: #ffffff; "></i>
                    <small class="text-white d-none d-md-inline ps-1">Send Link</small>
                </button>

                <a asp-controller="Admin" asp-action="CreatePatientRequest" class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0  height-fit-content">
                    @* <a asp-controller="Admin" asp-action="CreatePatientRequest" class="text-decoration-none p-0  m-0"> *@

                    <i class="fa-solid fa-file-pen" style="color: #ffffff;"></i>
                    <small class="text-white d-none d-md-inline ps-1"> Create Request</small>
                    @* </a> *@
                </a>
                @* @Html.ActionLink("Download Excel", "DownloadExcelfile", "Admin", null, new { @class = "btn btn-primary" }) *@

                <button class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0 height-fit-content download" data-table="SixTableContent">
                  
                    <i class="fa-solid fa-share  " style="color: #ffffff;"></i>
                    <small class="text-white d-none d-md-inline ps-1">Export</small>
                </button>

                <button class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0 height-fit-content exportall-download">
                    @* <button class="bg-info border-0 text-white exportall-download p-0" > *@

                    <i class="fa-solid fa-share-from-square " style="color: #ffffff;"></i>            <small class="text-white d-none d-md-inline ps-1">Export All</small>
                    @* </button> *@
                </button>

                <div class="btn btn-info d-flex align-items-center   rounded-3  p-2 text-white  border-0 height-fit-content">
                    <i class="fa-solid fa-user-doctor  " style="color: #ffffff;"></i>
                    <small class="text-white d-none d-md-inline ps-1">Request DTY Support</small>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 ">
            <div class="row mx-1 bg-white rounded-top d-sm-flex d-block justify-content-between my-2">

                <div class="col-12 col-md-2 col-xl-2  py-3">

                    <input class="form-control search-input fuzzy-search rounded-1 form-control-sm me-2 py-2 shadow-none" id="my-search-input" type="search" placeholder="Search..." aria-label="Search" style="width:clamp(100px, 100%, 100%);" >
                </div>
                <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center">
                    <div class="dropdown d-flex" style="width:clamp(200px, 100%, 100%);">
                        <select name="regionname" id="RegionSearch" class="form-select shadow-none getregion h-100 region-accordion" aria-label="Floating label select example">
                            <span class="search-icon "></span>
                            <option class="regionselect" value="1234" selected>All Regions</option>
                            @foreach (var item in Model.regions)
                            {
                                <option class="regionselect" value="@item.RegionId" itemid="@item.RegionId">@item.Name</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="col-12 col-md-7 col-xl-8 d-inline-block d-md-flex justify-content-end align-items-center mt-sm-2 mt-4 mb-2 ">
                    @*  <div class="d-flex align-Models-center">
                    <div class="d-flex rounded d-flex align-items-center ">
                    <input type="radio" name="requestby" id="0" class="btn-check" autocomplete="off" checked />
                    <label class="displayflexorblock btn" for="0">
                    <div><i class="fa-solid fa-circle d-block d-sm-none" style="color: #ffffff;"></i></div>
                    <span class="ps-2size">All</span></label>
                    </div>
                    <div class="d-flex rounded ">
                    <input type="radio" name="requestby" id="1" class="btn-check" autocomplete="off" />
                    <label class="displayflexorblock btn" for="1">
                    <div><i class="fa-solid fa-circle" style="color: #66bb63;"></i></div>
                    <span class="ps-2size">Patient</span></label>
                    </div>
                    <div class="d-flex rounded ">
                    <input type="radio" name="requestby" id="2" class="btn-check" autocomplete="off" />
                    <label class="displayflexorblock btn" for="2">
                    <div><i class="fa-solid fa-circle" style="color: #e59132;"></i></div>
                    <span class="ps-2size">Family/Friend</span></label>
                    </div>
                    <div class="d-flex rounded ">
                    <input type="radio" name="requestby" id="3" class="btn-check" autocomplete="off" />
                    <label class="displayflexorblock btn" for="3">
                    <div><i class="fa-solid fa-circle" style="color: #d8697b;"></i></div>
                    <span class="ps-2size">Business</span></label>
                    </div>
                    <div class="d-flex rounded ">
                    <input type="radio" name="requestby" id="4" class="btn-check" autocomplete="off" />
                    <label class="displayflexorblock btn" for="4">
                    <div><i class="fa-solid fa-circle" style="color: #077aba;"></i></div>
                    <span class="ps-2size">Concierge</span></label>
                    </div>
                    <div class="d-flex rounded ">
                    <input type="radio" name="requestby" id="5" class="btn-check" autocomplete="off" />
                    <label class="displayflexorblock btn" for="5"><div><i class="fa-solid fa-circle" style="color: #9042af;"></i></div><span class="ps-2size">Vip</span></label>
                    </div>
                    </div> *@


                    @*      <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1" onclick="RequestTypeFilter(2)">
                    <input type="radio" class="btn-check" name="requestby" autocomplete="off" id="2">
                    <label class="infowithcolor btn p-0 p-xl-2 text-black d-flex flex-row" for="2">
                    <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #ed9124;"></i>
                    Family
                    </label>
                    </div> *@

                    <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs selected-border check-activeradio">
                        <input type="radio" class="btn-check radio-under" name="requestby" autocomplete="off" id="requestbyAll" checked>
                        <label class="infowithcolor btn p-0 p-xl-2 font-size-xs text-black shadow-none" for="requestbyAll">All</label>
                    </div>
                    <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs check-activeradio">
                        <input type="radio" class="btn-check radio-under" name="requestby" autocomplete="off" id="1">
                        <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:   #5fbc61;"></i>

                        <label class="infowithcolor btn p-0 p-xl-2 font-size-xs text-black" for="1">Patient</label>
                    </div>
                    <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 check-activeradio">
                        <input type="radio" class="btn-check radio-under" name="requestby" autocomplete="off" id="2">
                        <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #ed9124;"></i>
                        <label class="infowithcolor btn p-0 p-xl-2 text-black" for="2">Family</label>
                    </div>
                    <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 check-activeradio">
                        <input type="radio" class="btn-check radio-under" name="requestby" autocomplete="off" id="3">
                        <i class="fa-solid fa-circle fa-2xs pe-1  d-flex justify-content-center align-items-center" style="color:   #e36478;"></i>
                        <label class="infowithcolor btn p-0 p-xl-2 text-black" for="3">Concierge</label>
                    </div>
                    <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 check-activeradio">
                        <input type="radio" class="btn-check radio-under" name="requestby" autocomplete="off" id="4">
                        <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #0c7db7;"></i>
                        <label class="infowithcolor btn p-0 p-xl-2 text-black" for="4">Business</label>
                    </div>
                    <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 check-activeradio">
                        <input type="radio" class="btn-check radio-under" name="requestby" autocomplete="off" id="5">
                        <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #943db8;"></i>
                        <label class="infowithcolor btn p-0 p-xl-2 text-black" for="5">VIP</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid mt-3 table-responsive" id="datatable">
        </div>
    </div>




</div>

@* cancel case model *@
<div class="modal fade rounded-3 shadow" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">cancel Confirmation</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="cancelCaseModal" method="post">
                <div class="modal-body">
                    <div class="requestid"></div>
                    <input type="number" class="requestid" name="id" hidden />
                    <h6 class="my-3 text-secondary fw-normal">Patient Name: <span class="text-info fw-normal pname"></span> </h6>
                    <select name="casetagname" id="CancelModalFirstDropDownSelect" class="form-select form-select-lg  fs-6 shadow-none ModalFirstDropDown" aria-label=".form-select-lg example">
                        <option class="fs-6" value="" selected hidden>Reasons For Cancellation</option>
                        @foreach (var item in Model.caseTags)
                        {
                            <option class="fs-6" value="@item.Name">@item.Name</option>
                        }
                    </select>
                    <span class="text-danger" id="CancelModalFirstDropDownSpan"></span>
                    <div class="my-2 form-floating mt-3">

                        <textarea class="form-control shadow-none notes" asp-for="BlockNotes"
                                  placeholder="Provide Additional Note" id="CancelModalNote"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea" class="text-secondary">Provide Additional Note</label>
                        <span class="text-danger" id="CancelModalNoteSpan"></span>

                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" value="submit" class="btn btn-info text-white ModalSubminbtn" id="CancelModalSubminbtn"> Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Assign Case Modal *@
<div class="modal fade rounded-3 shadow" id="AssignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Assign Request</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="AssignCase" method="post">
                <div class="modal-body">
                    <input type="number" class="requestid" name="id" hidden />

                    <label class="my-2 text-secondary  fw-normal mb-3" style="font-size:12.8px">To Assign This Request, search and selectanother Physician</label>
                    <div class="form-floating">
                        <select name="regionname" id="AssignModalFirstDropDownSelect" class="form-select form-select-lg  fs-6 SelectedRegionGivePhysicianList" aria-label=".form-select-lg example">
                            <option class="fs-6" value="" selected hidden">Narrow Search By Region</option>
                            @foreach (var item in Model.regions)
                            {
                                <option class="fs-6 regionselect" id="@item.RegionId">@item.Name</option>
                            }
                        </select>
                        <label for="floatingTextarea" class="text-secondary">Narrow Search By Region</label>
                        <span class="text-danger" id="AssignModalFirstDropDownSpan"></span>

                    </div>
                    <div class="form-floating ">
                        <select id="AssignModalSecondDropDownSelect" name="physicianid" asp-for="PhysicianId" class="form-select pt-2 mt-3 fs-6 form-control physiciandrop" aria-label=".form-select-lg example">
                            <option class="fs-6" value="" selected hidden>Select Physician</option>
                        </select>
                        <span class=" text-danger" id="AssignModalSecondDropDownSpan"></span>
                    </div>

                    <div class="my-2 form-floating mt-3">

                        <textarea class="form-control" id="AssignModalNote"
                                  placeholder="Description" asp-for="BlockNotes"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea" class="text-secondary">Description</label>
                        <span class="text-danger" id="AssignModalNoteSpan"></span>

                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-info text-white" id="AssignModalSubminbtn">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Block Case Modal *@
<div class="modal fade rounded-3 shadow" id="BlockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Block</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="BlockModal" method="post">

                <div class="modal-body">

                    <input type="number" class="requestid" name="id" hidden />

                    <h6 class="my-2 text-secondary">Patient Name:<span class="text-info fw-normal pname"></span></h6>

                    <div class="my-2 form-floating">

                        <textarea class="form-control" asp-for="BlockNotes" id="BlockModalNote"
                                  placeholder="Reason For Block Request"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea" class=" text-secondary">Reason For Block Request</label>
                        <span class="text-danger" id="BlockModalNoteSpan"></span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-info text-white" id="BlockModalSubminbtn">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Transfer Modal *@
<div class="modal fade rounded-3 shadow" id="TransferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Transfer Request</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="AssignCase" method="post">
                <div class="modal-body">
                    <input type="number" class="requestid" name="id" hidden />
                    <label class="my-2 text-secondary  fw-normal mb-3" style="font-size:12.8px">To Transfer This Request, search and selectanother Physician</label>
                    <div class="form-floating">
                        <select id="TransferModalFirstDropDownSelect" name="regionname" class="form-select form-select-lg  fs-6 SelectedRegionGivePhysicianList" aria-label=".form-select-lg example">
                            <option class="fs-6" value="" selected hidden>Narrow Search By Region</option>
                            @foreach (var item in Model.regions)
                            {
                                <option class="fs-6 regionselect" id="@item.RegionId">@item.Name</option>
                            }
                        </select>
                        <span class="text-danger" id="TransferModalFirstDropDownSpan"></span>
                        <label for="floatingTextarea" class="text-secondary">Narrow Search By Region</label>
                    </div>

                    <select id="TransferModalSecondDropDownSelect" name="physicianname" class="form-select form-select-lg mt-3 fs-6 form-control physiciandrop" aria-label=".form-select-lg example">
                        <option class="fs-6" value="" selected hidden>Select Physician</option>
                    </select>
                    <span class="text-danger" id="TransferModalSecondDropDownSpan"></span>

                    <div class="my-2 mt-3 form-floating">
                        <textarea class="form-control" id="TransferModalNote"
                                  placeholder="Description" asp-for="BlockNotes"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea" class="text-secondary">Description</label>
                        <span class="text-danger" id="TransferModalNoteSpan"></span>

                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-info text-white" id="TransferModalSubminbtn">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Clear Case Modal *@
<div class="modal fade rounded-3 shadow" id="ClearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-4">
            <form asp-action="ClearModal" method="post">
                <div class="modal-body py-0">
                    <div class="d-flex justify-content-center py-4">

                        <img src="/images/alert.png" class="w-25 h-25 d-flex justify-content-center" />
                    </div>
                    <input type="number" class="requestid" name="id" hidden />

                    <h4 class="d-flex justify-content-center">Confirmation For Clear Case</h4>

                    <div class="d-flex justify-content-center align-items-center text-secondary px-4 py-2">
                        <p class="d-flex justify-content-center small">Are sure you want to clear this request? Once clear this request then you are not able to see this request</p>
                    </div>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-center py-0">
                    <button type="submit" class="btn btn-info text-white">Clear</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Send Agreement Case Modal *@
<div class="modal fade rounded-3 shadow" id="AgreementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Send Agreement</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="SendAgreementModal" method="post">
                <div class="modal-body">
                    <i class="bi bi-circle-fill pe-1" id="requesttype-dot"></i><span id="requesttype-agreement"></span>
                    <input type="number" class="requestid" name="id" hidden />
                    <br />
                    <small class="text-secondary">To Send Agreement please make sure you are updating the correct contact information below for the responsible party.</small>
                    <div class="form-floating py-2 p-0">
                        <input class="form-control " id="AgreementModal-Phone" placeholder="Mobile Number" />
                        <label for="floatingTextarea" class="text-secondary" style="top : 8px">Phone Number</label>
                        <span class="text-danger" id="SendAgreementModalphoneSpan"></span>
                    </div>
                    <div class="form-floating py-2">
                        <input class="form-control" id="AgreementModal-Email" placeholder="Email" name="email" />
                        <label for="floatingTextarea" class=" text-secondary" style="top : 8px">Email</label>
                        <span class="text-danger" id="SendAgreementModalemailSpan"></span>
                    </div>
                </div>
                <div class="modal-footer border-0 pt-0 pb-3">
                    <button type="button" class="btn btn-info text-white sendAgreementBtn" id="SendAgreementModalSubminbtn">Send</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Send patient request page link Case Modal *@
<div class="modal fade rounded-3 shadow" id="SendLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Send Link</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="SendCreatePatientRequestPageLink" method="post">
                <div class="modal-body">
                    <small class="text-secondary">To Send Create Patient Request Page in Email And Phone</small>
                    <div class="form-floating py-2 p-0">
                        <input id="SendCreateRequestModalName" class="form-control " placeholder="Name" name="firstname" />
                        <label for="floatingTextarea" class="text-secondary" style="top : 8px">Name</label>
                        <span class="text-danger" id="SendCreateRequestModalNameSpan"></span>
                    </div>
                    <div class="form-floating py-2 p-0">
                        <input class="form-control" id="SendCreateRequestModalPhoneNumber" placeholder="Mobile Number" name="phonenumber" />
                        <label for="floatingTextarea" class="text-secondary" style="top : 8px">Phone Number</label>
                        <span class="text-danger" id="SendCreateRequestModalPhoneNumberSpan"></span>
                    </div>
                    <div class="form-floating py-2">
                        <input class="form-control" id="SendCreateRequestModalEmail" placeholder="Email" name="email" />
                        <label for="floatingTextarea" class=" text-secondary" style="top : 8px">Email</label>
                        <span class="text-danger" id="SendCreateRequestModalEmailSpan"></span>
                    </div>
                </div>
                <div class="modal-footer border-0 pt-0 pb-3">
                    <button type="button" id="SendCreateRequestModalSubminbtn" class="btn btn-info text-white">Send</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

@* <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> *@
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
@* <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver"></script> *@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
<script src="/js/Admin/AdminDashboard.js" asp-append-version="true"></script>

<script src="~/js/Admin/ExportDataInExcle.js" asp-append-version="true"> </script>
<script src="~/js/Admin/Tabs.js" asp-append-version="true"> </script>
<style>
    .bg-light {
        background-color: #F3F2F2 !important;
    }
</style>

<style>
    input[type="radio"]:checked {
        border: 2px solid #000000 !important;
    }

    td {
        color: white;
    }



    .infowithcolor {
        font-size: clamp(0.7rem, 1.4vw, 1rem);
    }

    .innerhead {
        font-size: clamp(1.1rem, 4vw, 1.5rem );
    }

    .innerhead-sm {
        font-size: clamp(0rem, 4vw, 1.2rem );
    }

    .height-fit-content {
        height: fit-content;
    }

    .selected-border {
        border-bottom: 2px solid gray;
        padding-bottom: 5px;
        background-color: #F9F8F8;
        border-radius: 5px 5px 0px 0px;
    }

</style>
<script>

    const radiouttons = document.querySelectorAll('.radio-under');
    const radioDivs = document.querySelectorAll('.check-activeradio');

    console.log("1" + radiouttons)
    console.log("2" + radioDivs)
    radiouttons.forEach((radio, index) => {
        radio.addEventListener('click', () => {
            radioDivs.forEach((div, divIndex) => {
                if (index === divIndex) {
                    div.classList.add('selected-border');
                } else {
                    div.classList.remove('selected-border');
                }
            });
        });
    });

</script>