
@using Services.ViewModels
@model List<AdminDashboardTableDataViewModel>
@{
    Layout = null;
}

<table class="table align-middle" id="example">
    <thead class="thead-light bg-light">
        <tr>
            <td class="d-none"></td>

            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Requestor</th>
            <th scope="col">Physician Name</th>
            <th scope="col">Date Of Service</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="datatable" class="bg-white">



        @foreach (var item in Model)
        {



            var color = "green-dot";

            switch (item.RequestType)
            {
                case 1:
                    {
                        color = "green-dot";
                        break;
                    }
                case 2:
                    {
                        color = "orange-dot";
                        break;
                    }
                case 3:
                    {
                        color = "pink-dot";
                        break;
                    }
                case 4:
                    {
                        color = "cyan-dot";
                        break;
                    }
                default:
                    {
                        color = "purple-dot";
                        break;
                    }
            }

            <tr class="@color">
                <td class="d-none">@item.RequestType</td>

                <td scope="row">
                    <div class="d-flex justify-content-between ">

                        @item.PatientName <div class="btn btn-outline-light btn-sm"><i class="fa-regular fa-envelope fa-sm"></i></div>
                    </div>
                </td>
                <td>@item.PatientDOB.ToString("dd MMM,yyyy ")</td>
                <td>@item.RequestTypeName(item.RequestType)</td>
                <td>here physician name</td>
                <td>@item.RequestedDate</td>
                <td>
                    <button class="btn btn-outline-light w-100 d-flex ">
                        <i class="bi bi-telephone pe-3 ps-1"></i>
                        @item.PatientPhone
                    </button>
                    <small>(Patient)</small>

                    @if (item.RequestType == 2 && item.RequestorPhone != null)
                    {
                        <button class="btn btn-outline-light w-100 d-flex ">
                            <i class="bi bi-telephone pe-3 ps-1"></i>
                            @item.RequestorPhone
                        </button>
                        <small>(Family\Friend)</small>
                    }
                    @if (item.RequestType == 3 && item.RequestorPhone != null)
                    {
                        <button class="btn btn-outline-light w-100 d-flex ">
                            <i class="bi bi-telephone pe-3 ps-1"></i>
                            @item.RequestorPhone
                        </button>
                        <small>(Concierge)</small>
                    }
                    @if (item.RequestType == 4 && item.RequestorPhone != null)
                    {
                        <button class="btn btn-outline-light w-100 d-flex ">
                            <i class="bi bi-telephone pe-3 ps-1"></i>
                            @item.RequestorPhone
                        </button>
                        <small>(Business)</small>
                    }
                </td>
                <td>@item.Address</td>
                <td>@item.Notes</td>
                <td>
                    <div class="d-flex">
                        <button class="btn btn-outline-light p-1 me-2 shadow-none"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                            <span>
                                Patient
                            </span>
                        </button>

                        <button class="btn btn-outline-light p-1 shadow-none"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-person-badge-fill"></i>
                            <span>
                                Provider
                            </span>
                        </button>

                    </div>
                </td>
                <td>
                    <div class="dropstart ms-2">


                        <button class="btn btn-outline-light shadow-none" type="button" data-bs-toggle="dropdown" id="drop" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">

                            <li>
                                <button class="dropdown-item text-secondary viewCase" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    View case
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary viewUpload" value="@item.requestid" >
                                    <i class="bi bi-view-list me-2"></i>
                                    View Uploads
                                </button>
                            </li>
                            <li>
                                <button value="@item.requestid" class="dropdown-item text-secondary viewNotes">
                                    <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    Transfer
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    Clear Case
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    Send Agreement
                                </button>
                            </li>

                        </ul>


                    </div></td>
            </tr>

        }
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


<script>
    var table = $('#example').DataTable({ dom: 'lrtip' });
    $('input[type="search"]').on('keyup', function () {
        console.log(table);
        table.search(this.value).draw();
    });
    $('input[name="requestby"]').on('change', function () {
        var value = $(this).attr('id');
        console.log(value);
        if (value == 'requestbyAll') {
            table.columns(0).search('').draw();
        }
        else {
            table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });

        // $(document).ready(function () {
        //     $('#example').DataTable({

        //     })
        // });

</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


<script>
    $(document).ready(function () {

        $('.viewCase').on('click', function (e) {
            var requestid = $(this).attr('value');
            $.ajax({
                url: '/Admin/ViewCase',
                type: 'GET',
                data: { id: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });


        $('.viewNotes').on('click', function (e) {
            var requestid = $(this).attr('value');
            $.ajax({
                url: '/Admin/ViewNotes',
                type: 'GET',
                data: { reqid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });


        $('.viewUpload').on('click', function (e) {
            var requestid = $(this).attr('value');
            console.log(requestid)
            $.ajax({
                url: '/Admin/ViewUpload',
               type: 'GET',
                data: {requestid : requestid} ,
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });


    });


    $(document).ready(function () {

        $('.canclebtn').on('click', function (e) {
            var name = $(this).attr('value');
            $('.pname').html(name);
            var reqid = $(this).attr('id');
            var inputval = $('.requestid');
            inputval.val(reqid);

        });

        // $('.canclebtn').on('click', function (e) {



        //     var reqid = $(this).attr('id');
        //     $('.requestid').html(reqid);

        //     console.log(reqid)
        // });
    });



        // $(document).ready(function () {
        //     $('.dropdown-item').on('click', function (e) {
        //         event.preventDefault();
        //         var action = $(this).attr('id');
        //         var id = $(this).closest("form").data('id');
        //         console.log("hello")
        //         $.ajax({
        //             url: '../Admin/' + action,

        //             // data = id,
        //             success: function (response) {
        //                 $('#nav-home').html(response);

        //             },
        //             error: function (xhr, status, error) {
        //                 console.error(error);
        //             }
        //         });
        //     })
        // });

</script>
