@using Services.ViewModels;
@model AdminRequestViewModel;
<Partial name="Toast" />

<div class="container-fluid">
    <nav>
        <div class="nav nav-tabs row g-0 border-0 pb-4 pt-2" id="status-tab" role="tablist">
            <div class="allstatus  ">
                <button class="w-100 nav-link dashboardtab active position-relative alltabs border-0" id="status-new" data-bs-toggle="tab" data-bs-target="#status_new" type="button" role="tab" aria-controls="status_new" aria-selected="true">
                    <div class="p-2 new rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start small"><i class="d-none d-md-block bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 1)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-pending" data-bs-toggle="tab" data-bs-target="#status_pending" type="button" role="tab" aria-controls="status_pending" aria-selected="false">
                    <div class="p-2 pending rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"> <i class="d-none d-md-block bi bi-person-exclamation"></i></div><div class="small fw-bold">PENDING</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 2)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-active" data-bs-toggle="tab" data-bs-target="#status_active" type="button" role="tab" aria-controls="status_active" aria-selected="false">
                    <div class="p-2 activecase rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"><i class="d-none d-md-block bi bi-check2-circle"></i></div><div class="small fw-bold">ACTIVE</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 4 ||  m.Status == 5)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-conclude" data-bs-toggle="tab" data-bs-target="#status_conclude" type="button" role="tab" aria-controls="status_conclude" aria-selected="false">
                    <div class="p-2 conclude rounded-3">
                        <div class="d-flex">
                            <div class="px-2  icons float-start small"> <i class="d-none d-md-block bi bi-arrow-clockwise"></i></div><div class="small fw-bold">CONCLUDE</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 6)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-toclose" data-bs-toggle="tab" data-bs-target="#status_toclose" type="button" role="tab" aria-controls="status_toclose" aria-selected="false">
                    <div class="p-2 toclose rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"><i class="d-none d-md-block bi bi-person-lock"></i></div><div class="small fw-bold">TO CLOSE</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 3 ||  m.Status == 7 ||  m.Status == 8)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs border-0" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#status_unpaid" type="button" role="tab" aria-controls="status_unpaid" aria-selected="false">
                    <div class="p-2 unpaid rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start "> <i class="d-none d-md-block bi bi-currency-dollar bi-2x"></i></div><div class="small fw-bold">UNPAID</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 9)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
        </div>
    </nav>
</div>

<div class="d-flex justify-content-between pt-3 px-3 container-fluid">
    <div class="h4 m-0 pt-1 innerhead ">

        Patient
        (<small class="innerhead-sm" id="statusnamehead" style="color:#203f98; "></small>)
    </div>
    <div class="d-flex h-25">
        <button class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0  height-fit-content" data-toggle="modal" data-target="#SendLinkModal">

            <i class="fa-regular fa-paper-plane  " style="color: #ffffff; "></i>
            <small class="text-white d-none d-md-inline ps-1">Send Link</small>
        </button>

        <div class="btn btn-info d-flex align-items-center   rounded-3 me-1 py-1  px-2  text-white  border-0 height-fit-content">
            <a asp-controller="Admin" asp-action="CreatePatientRequest" class="text-decoration-none p-0  m-0">

                <i class="fa-solid fa-file-pen" style="color: #ffffff; padding:5px 0 5px 0"></i>
                <small class="text-white d-none d-md-inline ps-1"> Create Request</small>
            </a>
        </div>

        <button class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0 height-fit-content download" data-table="SixTableContent">
            @*             <button class="download bg-info border-0 text-white p-0" data-table="SixTableContent">
            *@
            <i class="fa-solid fa-share  " style="color: #ffffff;"></i>
            <small class="text-white d-none d-md-inline ps-1">Export</small>
            @* </button> *@
        </button>

        <button class="btn btn-info d-flex align-items-center   rounded-3 me-1 p-2 text-white  border-0 height-fit-content exportall-download">
            @* <button class="bg-info border-0 text-white exportall-download p-0" > *@

            <i class="fa-solid fa-share-from-square " style="color: #ffffff;"></i>            <small class="text-white d-none d-md-inline ps-1">Export All</small>
            @* </button> *@
        </button>

        <div class="btn btn-info d-flex align-items-center   rounded-3  p-2 text-white  border-0 height-fit-content">
            <i class="fa-solid fa-user-doctor  " style="color: #ffffff;"></i>
            <small class="text-white d-none d-md-inline ps-1">Request DTY Support</small>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 ">
    <div class="row mx-1 bg-white rounded-top d-sm-flex d-block justify-content-between my-2">

        <div class="col-12 col-md-2 col-xl-2  py-3">

            <input class="form-control search-input fuzzy-search rounded-1 form-control-sm me-2 py-2 shadow-none" id="my-search-input" type="search" placeholder="Search..." aria-label="Search" style="width:clamp(100px, 100%, 100%); ">
        </div>
        <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center">
            <div class="dropdown d-flex" style="width:clamp(200px, 100%, 100%);">
                <select name="regionname" id="RegionSearch" class="form-select shadow-none getregion h-100" aria-label="Floating label select example">
                    <span class="search-icon "></span>
                    <option class="regionselect" value="1234" selected>All Regions</option>
                    @foreach (var item in Model.regions)
                    {
                        <option class="regionselect" value="@item.RegionId" itemid="@item.RegionId">@item.Name</option>
                    }
                </select>

            </div>
        </div>
        <div class="col-12 col-md-7 col-xl-8 d-inline-block d-md-flex justify-content-end align-items-center mt-sm-2 mt-4 mb-2 ">

            <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs">
                <input type="radio" class="btn-check  " name="requestby" id="requestbyAll" autocomplete="off">
                <label class="infowithcolor btn p-0 p-xl-2 font-size-xs" for="requestbyAll">All</label>
            </div>
            <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs">
                <input type="radio" class="btn-check" name="requestby" id="1" autocomplete="off">
                <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:   #5fbc61;"></i>

                <label class="infowithcolor btn p-0 p-xl-2 font-size-xs" for="1">Patient</label>
            </div>
            <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                <input type="radio" class="btn-check" name="requestby" id="2" autocomplete="off">
                <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #ed9124;"></i>
                <label class="infowithcolor btn p-0 p-xl-2" for="2">Family</label>
            </div>
            <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                <input type="radio" class="btn-check" name="requestby" id="3" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1  d-flex justify-content-center align-items-center" style="color:   #e36478;"></i>
                <label class="infowithcolor btn p-0 p-xl-2" for="3">Concierge</label>
            </div>
            <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                <input type="radio" class="btn-check" name="requestby" id="4" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #0c7db7;"></i>
                <label class="infowithcolor btn p-0 p-xl-2" for="4">Business</label>
            </div>
            <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                <input type="radio" class="btn-check" name="requestby" id="5" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #943db8;"></i>
                <label class="infowithcolor btn p-0 p-xl-2" for="5">VIP</label>
            </div>
        </div>

    </div>
</div>

@*

<div class="tab-content" id="status-tabContent">
    <div class="tab-pane fade show active" id="status_new" role="tabpanel" aria-labelledby="status-new">
    </div>


    <div class="tab-pane fade" id="status_pending" role="tabpanel" aria-labelledby="status-panding">
        Pending
    </div>
    <div class="tab-pane fade" id="status_active" role="tabpanel" aria-labelledby="status-active">
        Active
    </div>
    <div class="tab-pane fade" id="status_conclude" role="tabpanel" aria-labelledby="status-conclude">
        Conclude
    </div>
    <div class="tab-pane fade" id="status_toclose" role="tabpanel" aria-labelledby="status-toclose">
        To Close
    </div>
    <div class="tab-pane fade" id="status_unpaid" role="tabpanel" aria-labelledby="status-unpaid">
        Unpaid
    </div>
</div>
 *@


<div class="container-fluid mt-3 table-responsive" id="datatable">
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>

<script src="~/js/Admin/Tabs.js"> </script>
<script src="~/js/Admin/ExportDataInExcle.js"> </script>

<style>
    td {
        color: white;
    }

    small {
        font-size: clamp(0.2rem, 1.35vw, 0.8rem);
    }

    .infowithcolor {
        font-size: clamp(0.7rem, 1.4vw, 1rem);
    }

    .innerhead {
        font-size: clamp(1.1rem, 4vw, 1.5rem );
    }

    .innerhead-sm {
        font-size: clamp(0rem, 4vw, 1.2rem );
    }

    .height-fit-content {
        height: fit-content;
    }
</style>