@using Services.ViewModels;
@model AdminRequestViewModel;
<div class="container-fluid">

    <nav>
        <div class="nav nav-tabs row g-0 border-0 pb-4 pt-2" id="status-tab" role="tablist">
            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab active position-relative alltabs" id="status-new" data-bs-toggle="tab" data-bs-target="#status_new" type="button" role="tab" aria-controls="status_new" aria-selected="true">
                    <div class="p-2 new rounded">
                        <div class="d-flex">
                            <div class="px-2 icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 1)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs" id="status-pending" data-bs-toggle="tab" data-bs-target="#status_pending" type="button" role="tab" aria-controls="status_pending" aria-selected="false">
                    <div class="p-2 pending rounded-2">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"><i class="bi bi-person"></i></div><div class="small fw-bold">PENDING</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 2)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs" id="status-active" data-bs-toggle="tab" data-bs-target="#status_active" type="button" role="tab" aria-controls="status_active" aria-selected="false">
                    <div class="p-2 activecase rounded-2">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">ACTIVE</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 4 ||  m.Status == 5)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs" id="status-conclude" data-bs-toggle="tab" data-bs-target="#status_conclude" type="button" role="tab" aria-controls="status_conclude" aria-selected="false">
                    <div class="p-2 conclude rounded-2">
                        <div class="d-flex">
                            <div class="px-2  icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">CONCLUDE</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 6)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs" id="status-toclose" data-bs-toggle="tab" data-bs-target="#status_toclose" type="button" role="tab" aria-controls="status_toclose" aria-selected="false">
                    <div class="p-2 toclose rounded-2">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">TO CLOSE</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 3 ||  m.Status == 7 ||  m.Status == 8)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100 alltabs" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#status_unpaid" type="button" role="tab" aria-controls="status_unpaid" aria-selected="false">
                    <div class="p-2 unpaid rounded-2">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">UNPAID</div>
                        </div>
                        <div class="fw-bolder fs-4 p-2 text-start">
                            @Model.requests.Count(m => m.Status == 9)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
        </div>
    </nav>
</div>

<div class="d-flex justify-content-between pt-3 container-fluid">
    <div class="h4">

            Patient
            (<small class="" id="statusnamehead" style="color:#203f98; font-size:18px"></small>)
    </div>
    <div class="d-flex ">
        <div class="btn btn-info  rounded-3 mx-1 text-white">
            <i class="fa-regular fa-paper-plane  pe-1" style="color: #ffffff;"></i>
            <small class="text-white">Send Link</small>
        </div>

        <div class="btn btn-info  rounded rounded-3 mx-1 text-white">

            <i class="fa-solid fa-file-pen pe-1" style="color: #ffffff;"></i>
            <small>Create Request</small>
        </div>

        <div class="btn btn-info  rounded-3 mx-1 text-white">
            <i class="fa-solid fa-share pe-1" style="color: #ffffff;"></i>
            <small>Export</small>
        </div>

        <div class="btn btn-info  rounded-3 mx-1 text-white">
            <i class="fa-solid fa-share pe-1" style="color: #ffffff;"></i>
            <small>Export All</small>
        </div>

        <div class="btn btn-info  rounded-3 mx-1 text-white">
            <i class="fa-solid fa-user-doctor pe-1" style="color: #ffffff;"></i>
            <small>Request DTY Support</small>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 ">
    <div class="row mx-1 bg-white ">
        <div class=" d-flex justify-content-between my-2 ">

            <div class="dropdown d-flex">

                <input class="form-control search-input fuzzy-search rounded-1 form-control-sm me-2 " type="search" placeholder="Search..." aria-label="Search">

                @* <input type="search" placeholder="search" class="me-2 border rounded" /> *@
                <button class="btn bg-white border  dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-magnifying-glass fa-xs"></i> <label class="me-4">All Region</label>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">District Of Columbia</a></li>
                    <li><a class="dropdown-item" href="#">Maryland</a></li>
                    <li><a class="dropdown-item" href="#">New York</a></li>
                    <li><a class="dropdown-item" href="#">Virginia</a></li>
                </ul>
            </div>
            <div class="d-flex ms-4">

                <div class="d-flex justify-content-center align-items-center px-2">
                    <input type="radio" class="btn-check  " name="requestby" id="requestbyAll" autocomplete="off">
                    <label class="btn" for="requestbyAll">All</label>
                </div>
                <div class="d-flex justify-content-center align-items-center px-2">
                    <input type="radio" class="btn-check" name="requestby" id="1" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #5fbc61;"></i>
                    <label class="btn p-1" for="1">Patient</label>
                </div>
                <div class="d-flex justify-content-center align-items-center px-2">
                    <input type="radio" class="btn-check" name="requestby" id="2" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #ed9124;"></i>
                    <label class="btn p-1" for="2">Family</label>
                </div>
                <div class="d-flex justify-content-center align-items-center px-2">
                    <input type="radio" class="btn-check" name="requestby" id="3" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1  " style="color:   #e36478;"></i>
                    <label class="btn p-1" for="3">Concierge</label>
                </div>
                <div class="d-flex justify-content-center align-items-center px-2">
                    <input type="radio" class="btn-check" name="requestby" id="4" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #0c7db7;"></i>
                    <label class="btn p-1" for="4">Business</label>
                </div>
                <div class="d-flex justify-content-center align-items-center px-2">
                    <input type="radio" class="btn-check" name="requestby" id="5" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #943db8;"></i>
                    <label class="btn p-1" for="5">VIP</label>
                </div>



                @*  <button class="btn-outline-secondary btn mx-2 ">All</button>
                <button class=" btn mx-2 p-0"><i class="fa-solid fa-circle fa-2xs me-2" style="color:  #5fbc61;"></i>Patient</button>
                <button class=" btn mx-2 p-0"><i class="fa-solid fa-circle fa-2xs me-2" style="color:  #ed9124;"></i>Family/Friend</button>
                <button class=" btn mx-2 p-0"><i class="fa-solid fa-circle fa-2xs me-2" style="color:   #e36478;"></i>Concierge</button>
                <button class=" btn mx-2 p-0"><i class="fa-solid fa-circle fa-2xs me-2" style="color:  #0c7db7;"></i>Business</button>
                <button class=" btn mx-2 p-0"><i class="fa-solid fa-circle fa-2xs me-2" style="color:  #943db8;"></i>Vip</button> *@

            </div>
        </div>

    </div>
</div>

@*

<div class="tab-content" id="status-tabContent">
    <div class="tab-pane fade show active" id="status_new" role="tabpanel" aria-labelledby="status-new">
    </div>


    <div class="tab-pane fade" id="status_pending" role="tabpanel" aria-labelledby="status-panding">
        Pending
    </div>
    <div class="tab-pane fade" id="status_active" role="tabpanel" aria-labelledby="status-active">
        Active
    </div>
    <div class="tab-pane fade" id="status_conclude" role="tabpanel" aria-labelledby="status-conclude">
        Conclude
    </div>
    <div class="tab-pane fade" id="status_toclose" role="tabpanel" aria-labelledby="status-toclose">
        To Close
    </div>
    <div class="tab-pane fade" id="status_unpaid" role="tabpanel" aria-labelledby="status-unpaid">
        Unpaid
    </div>
</div>
 *@


<div class="container-fluid table-responsive mt-3 " id="datatable">
</div>

<script>



    $(document).ready(function () {
        console.log("one");
        $.ajax({
            url: '/Admin/New',
            success: function (response) {
                $('#statusnamehead').html('New');
                $('#datatable').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $(document).ready(function () {

        $('.dashboardtab').on('click', function (e) {
            e.preventDefault();
            $('.dashboardtab').removeClass('active');
            $(this).addClass('active');
            var target = $(this).data('bs-target');
            localStorage.setItem("target", target);
            console.log(target);
            var url;
            switch (target) {
                case '#status_new':
                    $('#statusnamehead').html('New');
                    url = '/Admin/New';

                    break;
                case '#status_pending':
                    $('#statusnamehead').html('Pending');

                    url = '/Admin/Pending';
                    break;
                case '#status_active':
                    $('#statusnamehead').html('Active');

                    url = '/Admin/Active';
                    break;
                case '#status_conclude':
                    $('#statusnamehead').html('Conclude');

                    url = '/Admin/Conclude';
                    break;
                case '#status_toclose':
                    $('#statusnamehead').html('To Close');

                    url = '/Admin/Toclose';
                    break;
                case '#status_unpaid':
                    $('#statusnamehead').html('Unpaide');

                    url = '/Admin/Unpaid';
                    break;

                default:
                    url = '../Home/AdminLogin';
            }
            console.log(url);
            $.ajax({
                url: url,

                success: function (response) {
                    $('#datatable').html(response);

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

   
</script>
<style>
    td {
        color: white;
    }
</style>