@using Services.ViewModels
@model List<AdminDashboardTableDataViewModel>
@{
    Layout = null;
}
@{
    var totalpages = Math.Ceiling(@ViewBag.TotalRowsOfDataContent / 5.00);
}
<table class="table align-middle">
    <thead class="thead-light bg-light">
        <tr>
            <td class="d-none"></td>
            <td class="d-none"></td>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Region</th>
            <th scope="col">Physician Name</th>
            <th scope="col">Date Of Services</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="datatable" class="bg-white">
        @foreach (var item in Model)
        {
            var color = "green-dot";
            switch (item.RequestType)
            {
                case 1:
                    {
                        color = "green-dot";
                        break;
                    }
                case 2:
                    {
                        color = "orange-dot";
                        break;
                    }
                case 3:
                    {
                        color = "pink-dot";
                        break;
                    }
                case 4:
                    {
                        color = "cyan-dot";
                        break;
                    }
                default:
                    {
                        color = "purple-dot";
                        break;
                    }
            }
            <tr class="@color">
                <td class="d-none">@item.RequestType</td>
                <td class="d-none">@item.regionid</td>
                <td scope="row">
                    <div class="d-flex justify-content-between ">
                        @item.PatientName <div class="btn btn-outline-light btn-sm"><i class="fa-regular fa-envelope fa-sm"></i></div>
                    </div>
                </td>
                <td>@item.PatientDOB.ToString("dd MMM,yyyy ")</td>
                <td>@item.RegionNameById(int.Parse(item.regionidtoclose))</td>
                <td>@item.PhysicianName</td>
                <td>@item.ProviderEmail</td>
                <td>@item.PatientDOB</td>
                <td scope="row">@item.PatientName</td>
                <td>
                    <div class="border border-1 border-white rounded d-flex justify-content-around align-items-center p-1" style="width : 65%">
                        <i class="fa-solid fa-user-doctor pe-1"></i>
                        Provider
                    </div>
                </td>
                <td>
                    <div class="dropstart ms-2">
                        <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">

                            <li>
                                <button class="dropdown-item text-secondary viewCase" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    View case
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary viewUpload" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    View Uploads
                                </button>
                            </li>
                            <li>
                                <button value="@item.requestid" class="dropdown-item text-secondary viewNotes">
                                    <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary order" value="@item.requestid">
                                    <i class="bi bi-view-list me-2"></i>
                                    Orders
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary closecasebtn" value="@item.requestid" id="@item.requestid">
                                    <i class="bi bi-x-circle"></i>
                                    Close Case
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" value="@item.requestid">
                                    <i class="bi bi-file-earmark-text"></i>
                                    Doctors Note
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary cancelbtn" id="@item.requestid" data-toggle="modal" data-target="#ClearModal">
                                    <i class="bi bi-view-list me-2"></i>
                                    Clear Case
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" value="@item.requestid">
                                    <i class="bi bi-file-earmark-text"></i>
                                    Encounter
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="dataTables_paginate d-flex justify-content-center gap-2 px-4">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="~/js/Admin/SixTabChildContent.js"> </script>
<script>

    $('.closecasebtn').on('click', function (e) {
        console.log("requestid")
        var requestid = $(this).attr('id');
        $.ajax({
            url: '/Admin/CloseCase',
            type: 'GET',
            data: { requestid: requestid },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error("error");
            }
        });
    });
    var currentpage = 1;
    // function filterwithoutpagination(state, requesttype, search, region) {
    //     $.ajax({
    //         url: 'AdminArea/StatuswiseData/CountbyFilter',
    //         type: 'POST',
    //         data: { state, requesttype, search, region },
    //         success: function (data) {
    //             printbuttons(data);
    //             $('.paginate_button').removeClass("current");
    //             console.log(currentpage);
    //             $('.paginate_button[data-id="' + currentpage + '"]').addClass("current");
    //         }
    //     });
    // }

    function change_page(temp) {
        currentpage = temp;

        $.ajax({
            url: '/Admin/DashboardTabsData',
            data: { "status": status, "currentpage": currentpage, "requesttype": requesttype, "searchkey": searchkey },
            success: function (response) {
                $('#statusnamehead').html('New');
                $('#datatable').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });


    }
    // $('.dataTables_paginate').on('click', '.paginate_button' , function () {
    //     console.log("ayu bhai ayu")
    // })

    var check = 0;
    $(document).ready(function () {

        if (check == 0) {

            // buttoncount = Math.ceil(data / pagesize);
            var buttoncount = @totalpages;
            $('.dataTables_paginate').html("");
            var j = currentpage;
            if (@totalpages <= 5) {
                for (var i = 1; i <= @totalpages; i++) {
                    $('.dataTables_paginate').append('<button class="paginate_button" onclick="change_page(' + i + ')" data-id="' + i + '">' + i + '</button> ');
                }
            }
            else {
                if (currentpage >= buttoncount - 3) {
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + 1 + '">' + 1 + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + '...' + '">' + '...' + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + (buttoncount - 3) + '">' + (buttoncount - 3) + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + (buttoncount - 2) + '">' + (buttoncount - 2) + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + (buttoncount - 1) + '">' + (buttoncount - 1) + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + buttoncount + '">' + buttoncount + '</div> ');
                }
                else if (currentpage < 4) {
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + 1 + '">' + 1 + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + 2 + '">' + 2 + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + 3 + '">' + 3 + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + 4 + '">' + 4 + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + '...' + '">' + '...' + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + buttoncount + '">' + buttoncount + '</div> ');
                }
                else {
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + 1 + '">' + 1 + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + '...' + '">' + '...' + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + (currentpage - 1) + '">' + (currentpage - 1) + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + currentpage + '">' + currentpage + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + (currentpage + 1) + '">' + (currentpage + 1) + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + '...' + '">' + '...' + '</div> ');
                    $('.dataTables_paginate').append('<div class="paginate_button" data-id="' + buttoncount + '">' + buttoncount + '</div> ');
                }
            }
            if (currentpage == 1) {
                $('.paginate_Previousbutton').addClass("d-none");
            }
            else {
                $('.paginate_Previousbutton').removeClass("d-none");
            }
            if (buttoncount == currentpage) {
                $('.paginate_Nextbutton').addClass("d-none");
                $('#tothisrequest').html(data);
            }
            else {
                $('.paginate_Nextbutton').removeClass("d-none");
                if (data == 0) {
                    $('#tothisrequest').html(0);
                }
                else {
                    $('#tothisrequest').html(((currentpage) * pagesize));
                }
            }
            if (data == 0) {
                $('#fromthisrequest').html(0);
            }
            else {
                $('#fromthisrequest').html((((currentpage - 1) * pagesize) + 1));
            }
            $('#totalcountofrequest').html(data);
        }
        check = 1;

    });
</script>
@*
<script>
    // var table = $('#example').DataTable({ dom: 'lrtip' });
    // $('input[type="search"]').on('keyup', function () {
    //     console.log(table);
    //     table.search(this.value).draw();
    // });
    // $('input[name="requestby"]').on('change', function () {
    //     var value = $(this).attr('id');
    //     console.log(value);
    //     if (value == 'requestbyAll') {
    //         table.columns(0).search('').draw();
    //     }
    //     else {
    //         table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
    //     }
    // });

    $('.example').DataTable({
        "initComplete": function (settings, json) {

            $('#my-search-input').val(settings.oPreviousSearch.sSearch);

            $('#my-search-input').on('keyup', function () {
                var searchValue = $(this).val();
                settings.oPreviousSearch.sSearch = searchValue;
                settings.oApi._fnReDraw(settings);
            });
        },
        "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
        "pageLength": 5,
        language: {
            oPaginate: {
                sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

            }
        }
    });

    $('.dataTables_filter').hide();
    var table = $('.example').DataTable();

    $('input[name="requestby"]').on('change', function () {
        var value = $(this).attr('id');
        console.log(value);
        if (value == 'requestbyAll') {
            table.columns(0).search('').draw();
        }
        else {
            table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });

    $(document).ready(function () {
        $('#example').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });

        $('.dataTables_filter').hide();
        $('.viewCase').on('click', function (e) {
            var requestid = $(this).attr('value');
            $.ajax({
                url: '/Admin/ViewCase',
                type: 'GET',
                data: { id: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $('.viewNotes').on('click', function (e) {
            var requestid = $(this).attr('value');
            $.ajax({
                url: '/Admin/ViewNotes',
                type: 'GET',
                data: { reqid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $('.viewUpload').on('click', function (e) {
            var requestid = $(this).attr('value');
            console.log(requestid)
            $.ajax({
                url: '/Admin/ViewUpload',
                type: 'GET',
                data: { requestid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.order').on('click', function (e) {
            var requestid = $(this).attr('value');
            console.log(requestid)
            $.ajax({
                url: '/Admin/Order',
                type: 'GET',
                data: { requestid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

    });

</script> *@