@using Services.ViewModels
@model List<AdminDashboardTableDataViewModel>
@{
    Layout = null;
}

<table class="table align-middle"  id="example">
    <thead class="thead-light bg-light">
        <tr>
            <td class="d-none"></td>

            <th scope="col">Name</th>
            <th scope="col">Physician Name</th>
            <th scope="col">Date Of Services</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="datatable" class="bg-white">



        @foreach (var item in Model)
        {


            var color = "green-dot";

            switch (item.RequestType)
            {
                case 1:
                    {
                        color = "pink-dot";
                        break;
                    }
                case 2:
                    {
                        color = "green-dot";
                        break;
                    }
                case 3:
                    {
                        color = "orange-dot";
                        break;
                    }
                case 4:
                    {
                        color = "cyan-dot";
                        break;
                    }
                default:
                    {
                        color = "green-dot";
                        break;
                    }
            }

            <tr class="@color">
                <td class="d-none">@item.RequestType</td>

                <td scope="row">
                    <div class="d-flex justify-content-between ">

                        @item.PatientName <div class="btn btn-outline-light btn-sm"><i class="fa-regular fa-envelope fa-sm"></i></div>
                    </div>
                </td>
                <td>@item.ProviderEmail</td>
                <td>@item.PatientDOB</td>
                <td>
                    <button class="btn btn-outline-light w-100 d-flex ">
                        <i class="bi bi-telephone pe-3 ps-1"></i>
                        @item.PatientPhone
                    </button>
                    <small>(Patient)</small>

                    @if (item.RequestType == 2 && item.RequestorPhone != null)
                    {
                        <button class="btn btn-outline-light w-100 d-flex ">
                            <i class="bi bi-telephone pe-3 ps-1"></i>
                            @item.RequestorPhone
                        </button>
                        <small>(Family\Friend)</small>
                    }
                    @if (item.RequestType == 3 && item.RequestorPhone != null)
                    {
                        <button class="btn btn-outline-light w-100 d-flex ">
                            <i class="bi bi-telephone pe-3 ps-1"></i>
                            @item.RequestorPhone
                        </button>
                        <small>(Concierge)</small>
                    }
                    @if (item.RequestType == 4 && item.RequestorPhone != null)
                    {
                        <button class="btn btn-outline-light w-100 d-flex ">
                            <i class="bi bi-telephone pe-3 ps-1"></i>
                            @item.RequestorPhone
                        </button>
                        <small>(Business)</small>
                    }
                </td>
                <td>@item.PatientDOB</td>
                <td>
                    <div class="border border-1 border-white rounded d-flex justify-content-around align-items-center p-1" style="width : 65%">
                        <i class="fa-solid fa-user-doctor pe-1"></i>
                        Provider
                    </div>
                </td>
                <td>
                    <div class="dropstart ms-2">
                        <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-regular fa-rectangle-list me-2"></i>Assign case</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-regular fa-circle-xmark me-2"></i>Cancel case</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="bi bi-view-list me-2"></i>View case</a></li>
                            <li>
                                <a class="dropdown-item text-secondary" href="#">
                                    <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                </a>
                            </li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-ban me-2"></i>Block Patients</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


<script>
    var table = $('#example').DataTable({ dom: 'lrtip' });
    $('input[type="search"]').on('keyup', function () {
        console.log(table);
        table.search(this.value).draw();
    });
    $('input[name="requestby"]').on('change', function () {
        var value = $(this).attr('id');
        console.log(value);
        if (value == 'requestbyAll') {
            table.columns(0).search('').draw();
        }
        else {
            table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });

        // $(document).ready(function () {
        //     $('#example').DataTable({

        //     })
        // });

</script>