@using Services.ViewModels
@model List<AdminDashboardTableDataViewModel>
@{
    Layout = null;
}

<table class="table"  id="example">
    <thead class="thead-light bg-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Physician Name</th>
            <th scope="col">Date Of Services</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="datatable" class="bg-white">



        @foreach (var item in Model)
        {


            var color = "green-dot";

            switch (item.RequestType)
            {
                case 1:
                    {
                        color = "pink-dot";
                        break;
                    }
                case 2:
                    {
                        color = "green-dot";
                        break;
                    }
                case 3:
                    {
                        color = "orange-dot";
                        break;
                    }
                case 4:
                    {
                        color = "cyan-dot";
                        break;
                    }
                default:
                    {
                        color = "green-dot";
                        break;
                    }
            }

            <tr class="@color">
                <td scope="row">@item.PatientName</td>
                <td>@item.ProviderEmail</td>
                <td>@item.PatientDOB</td>
                <td>@item.PatientDOB</td>
                <td>@item.PatientDOB</td>
                <td><button class="btn btn-outline-info">Patient</button></td>
                <td>
                    <div class="dropdown d-flex">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Assign Case</a></li>
                            <li><a class="dropdown-item" href="#">Cancle Case</a></li>
                            <li><a class="dropdown-item" href="#">View Case</a></li>
                            <li><a class="dropdown-item" href="#">View Notes</a></li>
                            <li><a class="dropdown-item" href="#">Block Patient</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $('#example').DataTable({
        })
    });

</script>