@inject IHttpContextAccessor accessor

@using Services.ViewModels
@model ViewCaseViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<input type="number" class="requestid" value="@Model.requestId" hidden />
<div class="container pb-4 bg-light " id="vCase">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
        <h4>New Request<span class=" ms-2 small text-white px-3 py-2 bg-success" style="border-radius:25px; font-size:15px">Patient</span></h4>
        <button class="btn m-0 btn-outline-info  px-2 backbuttonglobal">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </button>
    </div>
    <form asp-controller="Admin" asp-action="ViewCaseEditData">
        <div class="row bg-white  px-4 py-2 rounded-3 shadow">
            <h5 class="py-2">Patient Information</h5>
            <small class="text-secondary small" style="font-size:12px">Confirmation Number</small>
            <h5 class="text-info">@Model.ConfirmationNumber</h5>
            <input type="text" asp-for="ConfirmationNumber" id="ViewCaseConfirmationNumber" hidden />
            <div class="form-floating col-12 my-3  pb-2 ">
                <textarea class="form-control" asp-for="PatientNotes"
                          placeholder="Leave a comment here"
                          style="height: 100px" disabled></textarea>
                <label for="floatingTextarea" class="ms-2 text-secondary">Enter Brief details about symptoms(optional)</label>
                <span class="text-danger"></span>
            </div>
            <hr style="border:1px dashed gray; margin-bottom:25px;" />
            <div class="col-12 col-sm-6 form-floating mb-3 ">
                <input type="text" asp-for="FirstName"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ms-2">First Name </label>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">

                <input type="text" asp-for="LastName"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ms-2">Last name</label>
                @* <span asp-validation-for="LastName" class="text-danger"></span> *@
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                @{
                    string max = DateTime.Now.ToString("yyyy-MM-dd");
                }
                <input type="date" asp-for="DOB"
                       class="form-control pt-4 ms-1"
                       placeholder="Username"
                       aria-label="Username" max=@max disabled />
                <label class="d-flex justify-content-between ms-3 m-0">Birth Date</label>
                <span class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 d-flex mb-3">
                <div class="container-fluid p-0 m-0">

                    <div class="row">

                        <div class="col-sm-8 col-lg-10 col-8 form-floating ">

                            <div class="form-control p-0">
                                <input id="viewcasephone" asp-for="PhoneNumber"
                                       type="tel"
                                       style="border: none; padding: 18px 2% 18px 50px; width:inherit" disabled />
                            </div>
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            <span class="text-danger" id="phone-validationspan-viewcase"></span>
                        </div>

                        <div class="col-sm-4 col-lg-2 col-4 form-floating ">
                            <a class="btn btn-outline-info w-100 h-100 d-flex justify-content-center align-items-center" href="https://www.google.com/maps/">
                                <i class="bi bi-telephone fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="email" asp-for="Email"
                       class="form-control" id="ViewCasePatientEmail"
                       placeholder="Username" onblur="checkEmailExists()" disabled />
                <label class="d-flex justify-content-between ms-2">Email </label>
                <span class="text-danger" id="email-validationspan-viewcase"></span>
            </div>
            @if (Model.status == 1 && @accessor.HttpContext.Session.GetString("AdminId") != null)
            {
                <div class="col-12 col-sm-6 form-floating mb-3">

                    <button type="button" class="btn btn-outline-info  h-100  rounded-2  px-4" id="editButton">
                        Edit
                    </button>
                    <button type="button" class="btn btn-outline-info  h-100  rounded-2  px-4 ViewCaseSaveBtn" id="savebtn" hidden>
                        Save
                    </button>
                </div>
            }



            <h5 class="mb-3 mt-4 fw-semibold">Location Information</h5>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="text" asp-for="Region"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ms-2">Region </label>
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 d-flex ">
                <div class="container-fluid p-0 m-0">

                    <div class="row">

                        <div class="col-sm-8 col-lg-10 col-8 form-floating ">
                            <input type="text" asp-for="Address"
                                   class="form-control"
                                   placeholder="Username"
                                   aria-label="Username" disabled />
                            <label class="d-flex justify-content-between ms-2">Address </label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4 col-lg-2 col-4 form-floating ">
                            <a class="btn btn-outline-info w-100 h-100 d-flex justify-content-center align-items-center" href="https://www.google.com/maps/">
                                <i class="bi bi-geo-alt fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ms-2">
                    Room # / Suite (optional)
                </label>
            </div>



            <div class="justify-content-end d-flex pb-2">
                @if (@accessor.HttpContext.Session.GetString("AdminId") != null)
                {

                    @if (Model.status == 1)
                    {
                        <div class="mx-1">
                            <button type="button" id="@Model.requestId" value="@Model.FirstName + @Model.LastName" class="btn bg-info text-white sub rounded-2 px-2 py-2 cancelbtn" data-toggle="modal" data-target="#AssignModal">Assign case</button>

                        </div>
                    }
                    <div class="mx-1">
                        <button type="button" class="btn text-white bg-info rounded-2 px-2 py-2 viewNotes" value="@Model.requestId">View Notes </button>
                    </div>
                    <div class="mx-1">
                        <button type="button" value="@Model.FirstName @Model.LastName" class="btn  text-white sub rounded-2 px-2 py-2 bg-danger cancelbtn" data-toggle="modal" data-target="#exampleModal">Cancel case</button>
                    </div>
                }
                @if (@accessor.HttpContext.Session.GetString("PhysicianId") != null)
                {
                    <div class="mx-1">
                        <button type="button" class="btn text-white bg-info rounded-2 px-2 py-2 viewNotes" value="@Model.requestId">View Notes </button>
                    </div>

                    @if (Model.status == 1)
                    {
                        <div class="mx-1">
                            <button type="button" class="btn text-white bg-success rounded-2 px-2 py-2 acceptRequest" value="@Model.requestId">Accept </button>
                        </div>
                        <div class="mx-1">
                            <button type="button" class="btn text-white bg-danger rounded-2 px-2 py-2 declineRequest" value="@Model.requestId">Decline </button>
                        </div>
                    }
                }
            </div>
        </div>
    </form>
</div>

<script src="~/js/Admin/ViewCase.js" asp-append-version="true"> </script>
@*
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 *@
@*
<script>
    $(document).ready(function () {

        $('.cancelbtn').on('click', function (e) {
            var name = $(this).attr('value');
            console.log(name)
            $('.pname').html(name);
            var reqid = $(this).attr('id');
            var inputval = $('.requestid');
            inputval.val(reqid);
        });

        $('.viewNotes').on('click', function (e) {
            var requestid = $(this).attr('value');
            console.log("clickit");
            $.ajax({
                url: '/Admin/ViewNotes',
                type: 'GET',
                data: { reqid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $('#editButton').click(function () {
            $('input[type="email"]').removeAttr('disabled', false);
            $('input[type="tel"]').removeAttr('disabled', false);
            $(this).hide();
            $('#savebtn').removeAttr('hidden', false);
        });


        $('.ViewCaseSaveBtn').on('click', function (e) {
            console.log("checked for view case edit btn")
            var requestid = @Model.requestId;
            var email = $('#ViewCasePatientEmail').val();
            var phoneNumber = $('#home').val();
            var confirmationNumber = $('#ViewCaseConfirmationNumber').val();
            console.log(email)
            console.log(phoneNumber)
            var ViewModel = {
                requestId: requestid,
                Email: email,
                PhoneNumber: phoneNumber,
                ConfirmationNumber: confirmationNumber,
            };
            console.log(ViewModel)
            $('input[type="email"]').attr('disabled', true);
            $('input[type="tel"]').attr('disabled', true);
            $(this).hide();
            $('#editButton').show();
            $.ajax({
                url: '/Admin/ViewCaseEditData',
                type: 'POST',
                data: ViewModel,
                dataType: 'json',
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });



</script>  *@