@using Services.ViewModels
@model AdminRequestViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container  px-xl-5 " style="height:80.4vh">
    <div class="row px-xl-5 px-2">
        <div class="col-12 d-flex justify-content-between py-4">
            <h4>Notes</h4>
            <a asp-controller="Admin" asp-action="AdminDashboard"
               class="btn m-0 btn-outline-info  px-2 ">
                <i class="fa-solid fa-chevron-left"></i>
                Back
            </a>
        </div>
        @{
            if (Model.PhsysicianNameViewNotes != null)
            {

                <div class="col-12 col-sm-6  py-2">
                    <div class="py-3 bg-white  d-flex flex-row   rounded-3">

                        <div class="d-flex justify-content-center  px-3 pt-2 mb-0">
                            <i class="fa-solid fa-right-left"></i>
                        </div>
                        <div>
                            <h5 class="mb-0">Transfer Notes</h5>
                            <small class="text-secondary"> @Model.AdminNameViewNotes Transferred to @Model.PhsysicianNameViewNotes on @Model.assigntime.ToString("dd/MM/yyyy") at @Model.assigntime.ToString("hh/mm tt")  </small>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-12 col-sm-6 py-2 ">
            <div class="py-3 bg-white  d-flex flex-row   rounded-3">

                <div class="d-flex justify-content-center p-3 pt-2 mb-0">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
                <div>
                    <h5 class="mb-0">Physician Notes</h5>
                    <small class="text-secondary">Notes Content is here</small>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 py-2 ">
            <div class="py-3 bg-white  d-flex flex-row   rounded-3">

                <div class="d-flex justify-content-center pt-2  p-3 mb-0">
                    <i class="fa-solid fa-user-tie"></i>
                </div>
                <div class="w-100">
                    <h5 class="mb-0">Admin Notes</h5>
                    <small class="text-secondary" id="adminnoteupdate">@Model.BlockNotes</small>
                    @* <textarea id="adminnoteupdate" class="small border-0 text-secondary w-100 bg-white" asp-for="BlockNotes" disabled></textarea> *@
                </div>
            </div>
        </div>
        <div class="col-12 py-2 ">
            <div class="py-3 bg-white rounded-3">

                <div class="px-3">
                    <form>
                        <input type="number" asp-for="requestid" id="rid" value="@Model.requestid" hidden />
                        <div class=" pt-2">
                            <textarea class="form-control" name="" asp-for="BlockNotes"
                                      placeholder="Notes" id="notes"
                                      style="height: 100px"></textarea>
                        </div>
                        <div class="d-flex justify-content-end pt-3 ">
                            <button type="button" class="btn btn-info text-white fw-normal savenote">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

   

    $('.savenote').click(function () {

        var reqid = $('#rid').attr('value');
        var notes = $('#notes').val();
        var viewModel = {
            requestid: reqid,
            BlockNotes: notes
        };
        console.log(viewModel)
        console.log(viewModel)
        console.log(viewModel)
        $.ajax({
            url: '/Admin/ViewNotes', // replace with your URL
            type: 'POST',
            dataType: 'json',
            // contentType: 'application/json; charset=utf-8',
            data: viewModel,
            success: function (data) {
                // Handle success
                console.log('Success:', data);
            },
            error: function () {
                // Handle error
                console.log('Error occurred');
            }
        });

        $('#adminnoteupdate').html(notes);
    });



                // $(document).ready(function () {

                //     $('.savenote').on('click', function (e) {
                //         console.log("hello")

                //         var reqid = $('#rid').attr('value');
                //         var notes = $('#notes').val();
                //         console.log(reqid);
                //         console.log(notes);
                //         // console.log(rid);
                //         var model = {
                //             requestid : reqid,
                //             BlockNotes : notes
                //         }
                //         $.ajax({
                //             url: '/Admin/ViewNotes', // replace with your URL
                //             type: 'POST',
                //             dataType: 'json',
                //             contentType: 'application/json; charset=utf-8',
                //             data: JSON.stringify(model),
                //             success: function (data) {
                //                 // Handle success
                //                 console.log('Success:', data);
                //             },
                //             error: function () {
                //                 // Handle error
                //                 console.log('Error occurred');
                //             }
                //         });
                //         // $(this).closest('form')
                //     });
                // });
</script>