@using Services.ViewModels
@model ProviderDetailsViewModel
@{
    Layout = "_OnlyLinks";
}

<Partial name="Toast" />

<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="p-4 m-auto border border-1 border-info rounded-2">
                <div class="row">
                    <div class="col-md-12">
                        <h1>E-Signature</h1>
                        <p>Sign in the canvas below and save your signature as an image!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <canvas class="border border-secondary rounded-2" id="sig-canvas" width="300" height="160">
                            Get a better browser, bro.
                        </canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="sig-submitBtn">Submit Signature</button>
                        <button class="btn border-info text-info shadow-none" id="sig-clearBtn">Clear Signature</button>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" id="Cancelbutton" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<input type="number" id="physicianid-editprovideraccount" asp-for="physicianid" />
<div class="container bg-light">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
        <h4 class="fw-bold">Edit Physician Account</h4>
        <a asp-controller="Provider" asp-action="Provider"
           class="btn m-0 btn-outline-info  px-2 ">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </a>
    </div>
    <div class="container-fluid my-3 bg-white shadow">
        <div class="row px-2">

            <h5 class="my-3">Account Information</h5>
            <div class="col-12 col-sm-6 form-floating mb-3 ">
                <input type="text" asp-for="username"
                       class="form-control aidisabled"
                       placeholder="Username" id="username-editprovideraccount"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">User Name</label>
                <span id="username-editprovideraccount-span" class="text-danger small"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">

                <input type="text" asp-for="password"
                       class="form-control" id="password-editprovideraccount"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Password</label>
                <span class="text-danger" id="resetpassword-editprovideraccount-span"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating">

                <select class="form-select form-select-lg  fs-6 shadow-none aidisabled" aria-label=".form-select-lg example" disabled>

                    <option class="fs-6" value="1" selected>Active</option>
                    <option class="fs-6" value="0" selected>Inactive</option>

                </select>
                <label for="floatingTextarea" class="text-secondary ms-3">Status</label>

            </div>
            <div class="col-12 col-sm-6 form-floating">
                <select class="form-select form-select-lg  fs-6 shadow-none aidisabled" aria-label=".form-select-lg example" disabled>
                    @*    @foreach (var item in Model.role)
                    {
                    <option class="fs-6">@item.Name</option>
                    } *@
                </select>
                <label for="floatingTextarea" class="text-secondary ms-3">Role</label>

            </div>
            <div class="mt-3 d-flex justify-content-end col-12">
                <button class="btn btn-info me-2 text-white" id="Aieditbtn-editprovideraccount">Edit</button>
                <button class="btn btn-info me-2 text-white d-none" id="Aisavebtn-editprovideraccount">Save</button>
                <button class="btn btn-outline-info me-2" id="Airesetpasswordbtn-editprovideraccount">Reset Password</button>
                <button class="btn btn-outline-info me-2 d-none" id="Aiupdatebtn-editprovideraccount">Update Password</button>
            </div>

            @* ********************************************************************************************************************************************* *@


            <h5 class="mb-3">Physician Information</h5>
            <div class="col-12 col-sm-6 form-floating mb-3 ">
                <input type="text" asp-for="firstname"
                       class="form-control pidisabled" id="firstname-editprovideraccount"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">First Name</label>
                <span id="firstname-editprovideraccount-span" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="text" asp-for="lastname"
                       class="form-control pidisabled"
                       placeholder="Username" id="lastname-editprovideraccount"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Last Name</label>
                <span id="lastname-editprovideraccount-span" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3 ">
                <input type="text" asp-for="email"
                       class="form-control pidisabled" id="email-editprovideraccount"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Email</label>
                <span id="email-editprovideraccount-span" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <div class="form-control p-0">
                    <input asp-for="phonenumber"
                           type="tel" class="pidisabled" id="phone-editprovideraccount" maxlength="10"
                           style="border: none; padding: 18px 2% 18px 50px; width:inherit" disabled />
                    <span id="phone-editprovideraccount-span" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="text" asp-for="medicallicencenumber"
                       class="form-control pidisabled"
                       placeholder="Username" id="medicallicense-editprovideraccount"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Medical License</label>
                <span id="medicallicense-editprovideraccount-span" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="text" asp-for="npinumber"
                       class="form-control pidisabled"
                       placeholder="Username" id="npinumber-editprovideraccount"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">NPI Number</label>
                <span id="npinumber-editprovideraccount-span" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input type="text"
                       class="form-control pidisabled"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Synchronization Email Address</label>
                <span id="" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 pt-2">
                @foreach (var item in Model.regionlist)
                {
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input pidisabled adminselectedregion-adminprofile" type="checkbox" id="@item.RegionId"
                        @if (Model.selectedregionlist.Any(m => m.RegionId == item.RegionId))
                        {
                            @:checked
                        } value="@item.RegionId" disabled>
                        <label class="form-check-label" for="@item.RegionId">@item.Name</label>
                    </div>
                }<div>

                    <span class="text-danger small" id="selectedregion-editprovideraccount-span"></span>
                </div>
            </div>
            <div class="d-flex justify-content-end col-12">
                <button class="btn btn-info me-2 text-white" id="pieditbtn-editprovideraccount">Edit</button>
                <button class="btn btn-info me-2 text-white d-none" id="pisavebtn-editprovideraccount">Save</button>

            </div>

            @* ********************************************************************************************************************************************* *@

            <h5 class="mb-3">Mailing & Billing Information</h5>
            <div class="col-12 col-sm-6 form-floating mb-3 ">
                <input type="text" asp-for="address1" id="address1-editprovideraccount"
                       class="form-control mbdisabled"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Address 1</label>
                <span class="small text-danger" id="address1-editprovideraccount-span"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">

                <input type="text" asp-for="address2" id="address2-editprovideraccount"
                       class="form-control mbdisabled"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Address 2</label>
                <span class="small text-danger" id="address2-editprovideraccount-span"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">

                <input type="text" asp-for="city" id="city-editprovideraccount"
                       class="form-control mbdisabled"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">City</label>
                <span class="small text-danger" id="city-editprovideraccount-span"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating">

                <select class="form-select form-select-lg  fs-6 shadow-none mbdisabled" aria-label=".form-select-lg example" disabled>

                    @foreach (var item in Model.regionlist)
                    {
                        <option class="fs-6">@item.Name</option>
                    }
                </select>
                <label for="floatingTextarea" class="text-secondary ms-3">State</label>

            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">

                <input type="text" asp-for="zip" id="zip-editprovideraccount"
                       class="form-control mbdisabled" min="5" maxlength="6"
                       placeholder="Username"
                       aria-label="Username" disabled />
                <label class="d-flex justify-content-between ps-4">Zip</label>
                <span class="small text-danger" id="zip-editprovideraccount-span"></span>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <div class="form-control p-0">
                    <input id="alterphonenumber-editprovideraccount" asp-for="alterphonenumber"
                           type="tel" class="mbdisabled" maxlength="10" class="mbdisabled"
                           name="PhoneNumber"
                           style="border: none; padding: 18px 2% 15px 50px; width:inherit" disabled />
                    <span class="small text-danger" id="alterphonenumber-editprovideraccount-span"></span>

                </div>
            </div>

            <div class="d-flex justify-content-end col-12 pb-3">
                <button class="btn btn-info me-2 text-white" id="mbeditbtn-EditProviderAccount">Edit</button>
                <button class="btn btn-info me-2 text-white d-none" id="mbsavebtn-EditProviderAccount">Save</button>
            </div>

            @* ***************************************************************************************************************************************************************** *@
            <h5>Provider Profile</h5>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-3">
                <div class="form-floating">
                    <input type="text" asp-for="businessname" id="businessname-editprovideraccount" class="form-control shadow-none" placeholder="Business Name" disabled>
                    <label class="FloatingInput">Business Name</label>
                    <span class="text-danger small" id="businessname-editprovideraccount-span"></span>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-3">
                <div class="form-floating">
                    <input type="text" asp-for="businesswebsite" id="businesswebsite-editprovideraccount" class="form-control shadow-none" placeholder="Business Website" disabled>
                    <label class="FloatingInput">Business Website</label>
                    <span class="text-danger small" id="businesswebsite-editprovideraccount-span"></span>
                </div>
            </div>

            @*photo upload*@
            <div class="col-xl-6 col-12 mt-3">
                <div class="form-group rounded d-flex align-items-center justify-content-between border border-2 uploadbtndiv">
                    <div class="px-3 table-responsive w-100">
                        <input type="file" id="actual-btn-editprovideraccount" hidden />
                        <label role="button" for="actual-btn-editprovideraccount" id="file-chosen" class="choosenfile text-nowrap text-secondary w-100">No item selected</label>
                    </div>
                    <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0" id="provider-photo">
                        <label role="button" class="d-flex align-items-center">
                            <i class="bi bi-cloud-arrow-up p-2"></i>
                            <div>Upload</div>
                        </label>
                    </button>
                </div>
            </div>

            @*sign upload*@

            <div class="col-xl-4 col-10 mt-3">
                <div class="form-group rounded d-flex align-items-center justify-content-between border border-2 uploadbtndiv">
                    <div class="px-3 table-responsive w-100">
                        <input type="file" id="actual-btn-sign" multiple hidden />
                        <label role="button" for="actual-btn-sign" id="file-chosen-sign" class="choosenfile text-nowrap text-secondary w-100">No item selected</label>
                    </div>
                    <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0" id="provider-sign">
                        <label role="button" class="d-flex align-items-center">
                            <i class="bi bi-cloud-arrow-up p-2"></i>
                            <div>Upload</div>
                        </label>
                    </button>
                </div>
            </div>

            <div class="col-xl-2 col-1 mt-3">
                <button type="button" id="ModalToOpen" data-target="#ModalToOpen" data-toggle="modal" class="uploadbtn d-flex py-1 border-0 rounded-2">
                    <label role="button" class="d-flex align-items-center">
                        <i class="bi bi-pencil-fill p-2"></i>
                        <div>Create</div>
                    </label>
                </button>
            </div>

            <div class="d-flex my-5">
                <div class="w-50 d-flex justify-content-center align-items-center " style="object-fit:contain">
                    <img src="@Model.photo" style="width:20vw; height:20vh; object-fit:contain" />
                </div>
                <div class="w-50 d-flex justify-content-center align-items-center">
                    <img src="@Model.signature" style="width:20vw; height:20vh; object-fit:contain" />
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="form-floating">
                    <textarea asp-for="adminnote" class="form-control shadow-none"
                              placeholder="Admin Notes" id="adminnote-editprovider"
                              style="height: 100px" disabled></textarea>
                    <label for="floatingTextarea2">Admin Notes</label>
                    <span class="text-danger small" id="adminnote-editprovider-span"></span>
                </div>
            </div>

            <div class="d-flex justify-content-end col-12 mt-3 mb-3">
                <button class="btn btn-info text-white px-4 me-2" id="editbtn-adminnote-editprovider">Edit</button>
                <button class="btn btn-info text-white px-4 me-2 d-none" id="savebtn-adminnote-editprovider">Save</button>
            </div>

            <hr class="text-muted" style="border : 1px solid black" />

            <h5>Onboarding</h5>

            <div class="table-responsive small" style="font-weight: bold">
                <table>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsAgreementDoc)
                            {
                                @: checked
                            }
                                   readonly />
                        </td>
                        <td class="p-2 px-3">
                            Independent Contractor Agreement
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadICAdoc" class="p-1 px-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsAgreementDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewICAdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsBackgroundDoc)
                            {
                                @: checked
                            }
                                   readonly />
                        </td>
                        <td class="p-2 px-3">
                            Background Check
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadBackDocdoc" class="p-1 px-2 text-white bg-info fileuploadbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsBackgroundDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewBackDocdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }

                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsCredentialDoc)
                            {
                                @: checked
                            }
                                   readonly />
                        </td>
                        <td class="p-2 px-3">
                            HIPAA Compliance
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadCredentialdoc" class="p-1 px-2 text-white bg-info fileuploadbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsCredentialDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/VeiwCredentialdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsNonDisclosureDoc)
                            {
                                @: checked
                            }
                                   readonly />
                        </td>
                        <td class="p-2 px-3">
                            Non-Disclosure Agreement
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadNDAdoc" class="p-1 px-2 text-white bg-info rounded fileuploadbtn border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsNonDisclosureDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewNDAdoc" class="p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsLicenseDoc)
                            {
                                @: checked
                            }
                                   readonly />
                        </td>
                        <td class="p-2 px-3">
                            License Document
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadLicensedoc" class="p-1 px-2 text-white bg-info rounded fileuploadbtn border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsLicenseDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewLicensedoc" class="p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                </table>


            </div>
            <input type="file" id="SelectFileToUpload" accept=".pdf" hidden />
            <hr class="text-muted" style="border : 1px solid black" />
            <div class="d-flex justify-content-end mb-3">

                <div class="mx-1 d-flex">
                    <button type="button" class="btn btn-info shadow-none text-white viewNotes small px-3">
                        Save
                    </button>
                </div>
                <div class="mx-1 d-flex">
                    <button type="button" class="btn btn-info shadow-none border-0 text-white bg-danger small px-3">
                        Delete Account
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/Provider/AddOrUpdatePhysicianAccount.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    window.onload = function () {
        // $('.admin-layout-nav').removeClass('admin-layout-nav-active');
        $('#nav-provider-tab').addClass('admin-layout-nav-active');
    }
    var actualBtnsign = document.getElementById('actual-btn-sign');
    var fileChosensign = document.getElementById('file-chosen-sign');
    actualBtnsign.addEventListener('change', function () {
        var filesname = this.files[0].name;
        console.log(filesname)
        for (var i = 1; i < this.files.length; i++) {
            filesname = filesname + " + " + this.files[i].name;
        }
        fileChosensign.style.fontSize = "15px";
        fileChosensign.style.fontWeight = "bold"
        fileChosensign.textContent = filesname;
        fileChosensign.ariaPlaceholder = filesname;
        console.log("run")
    });
</script>