@using Services.ViewModels
@model ViewUploadViewModel
@inject IHttpContextAccessor accessor
<Partial name="Toast" />
@{
    Layout = null;
}
<div class="container  pt-3 pb-4">
    <div class="d-flex justify-content-between mb-2">
        <h4>Conclude Care</h4>
        <a class="btn m-0 btn-outline-info  px-2" onclick="location.reload()">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </a>
    </div>
    <div class="container-fluid bg-white shadow px-3 pt-3">
        <div class="row">
            <div class="col-12  text-secondary " style="font-size:15px;">Patient Name</div>
            <div class="col-12 text-secondary">
                <div>
                    <strong class="h4 text-info fw-bold">@Model.FirstName @Model.LastName </strong>
                </div>
            </div>

            <div class="mt-1 d-flex justify-content-between">
                @* <form enctype="multipart/form-data">
                <div class="row d-flex">
                <div class="py-2 col-12 ">
                <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                <div class="px-3 table-responsive">
                <input type="file" id="actual-btn" multiple hidden asp-for="Upload" />
                <label role="button" for="actual-btn" id="file-chosen" class="choosenfile text-dark text-nowrap">No item selected</label>
                </div>
                <button type="button" id="uploadBtnAdmin" class="uploadbtn px-2 py-1 d-flex ms-1 border-0">
                <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div></label>
                </button>
                </div>
                </div>
                </div>
                </form> *@
                <div>
                    <h4>Encounter Forms</h4>
                </div>
                <div class="py-3">
                    <form>
                        <input type="file" id="actual-btn-viewupload" asp-for="Upload" multiple hidden />
                        <input type="text" class="RequestsId" value="@Model.requestid" hidden />
                        <label role="button" for="actual-btn-viewupload" id="file-chosen" class="choosenfile text-nowrap text-secondary w-100 d-none">No item selected</label>
                        <button type="button" class="uploadbtnconclude btn btn-outline-info px-2 py-1 d-flex">
                            <label role="button" class="d-flex align-items-center">
                                <i class="bi bi-cloud-arrow-up p-2"></i>
                                <div>Upload</div>
                            </label>
                        </button>
                    </form>
                </div>

                @*  <form>
                <div class="row d-flex mt-3">
                <div class="py-2 col-12 ">
                <div class="form-group rounded d-flex align-items-center justify-content-between border border-2 uploadbtndiv">
                <div class="px-3 table-responsive w-100">
                <input type="file" id="actual-btn-viewupload" asp-for="Upload" multiple hidden />
                <input type="text" class="RequestsId" value="@Model.requestid" hidden />
                <label role="button" for="actual-btn-viewupload" id="file-chosen" class="choosenfile text-nowrap text-secondary w-100">No item selected</label>
                </div>
                <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0">
                <label role="button" class="d-flex align-items-center">
                <i class="bi bi-cloud-arrow-up p-2"></i>
                <div>Upload</div>
                </label>
                </button>
                </div>
                </div>
                </div>
                </form> *@
            </div>
        </div>


        <span id="downloadallbtn-viewupload" class="text-danger"></span>

        <div class="table-responsive">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th width="80%" scope="col">Documents</th>
                        <th width="20%" class="text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.wiseFiles)
                    {

                        <tr>
                            <td class="text-black">@item.FileName.Substring(52)</td>
                            <td class="text-center">
                                <a class="text-decoration-none  btn btn-outline-info" href="~/UploadDocument/@item.FileName.Substring(52)" download>
                                    <i class="bi bi-cloud-arrow-down"></i>
                                </a>
                                <div class=" btn btn-outline-info DeleteDoc" id="@item.RequestWiseFileId">
                                    <i class="bi bi-trash  "></i>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="py-3">
                <form>
                    <input type="number" asp-for="requestid" id="rid" value="@Model.requestid" hidden />
                    <div class=" pt-2">
                        <textarea class="form-control" name="" asp-for="Notes"
                                  placeholder="Notes" id="notes_physician"
                                  style="height: 100px"></textarea>
                    </div>
                    <div class="d-flex justify-content-end pt-3 ">
                        @if (Model.isfinalize == null)
                        {
                            <button value="notFinalize" type="button" class="btn btn-info text-white fw-normal ConcludeCareSubmitBtn">Conclude Care</button>
                        }
                        else
                        {
                            <button value="Finalize" type="button" class="btn btn-info text-white fw-normal ConcludeCareSubmitBtn">Conclude Care</button>
                        }
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<script src="~/js/Admin/ViewUpload.js" asp-append-version="true"> </script>

<script>

    $('#notes_physician').on('blur', function () {
        var reqid = $('#rid').attr('value');
        var notes = $('#notes_physician').val();
        var viewModel = {
            requestid: reqid,
            BlockNotes: notes
        };
        console.log(viewModel)
        console.log(viewModel)
        console.log(viewModel)
        $.ajax({
            url: '/ProviderSide/PhysicianNotes', // replace with your URL
            type: 'POST',
            data: viewModel,
            success: function (data) {
                console.log('Success:', data);
            },
            error: function () {
                // Handle error
                console.log('Error occurred');
            }
        });

    });
    $('.uploadbtnconclude').click(function () {
        $('#actual-btn-viewupload').click();
    });

    $('#actual-btn-viewupload').change(function () {
        var formData = new FormData();
        //  formData.append('file', actualBtn.files[0]); // Append each selected file
        for (var i = 0; i < actualBtn.files.length; i++) {
            formData.append('file', actualBtn.files[i]); // Append each selected file
        }
        formData.append('id', $('.RequestsId').val());
        console.log(formData);
        // Add any other data you need (e.g., RequestsId) gavsgvahgsvagvdsg
        $.ajax({
            url: '../Admin/UploadButton', // Replace with your controller action URL
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (error) {
                console.error('Error uploading files:', error);
            }
        });

        // var formData = new FormData();

        // var file = actualBtn.files[0]
        // var requestid = $('.RequestsId').val()
        // formData.append('file', actualBtn.files[0]);

        // formData.append('id', $('.RequestsId').val());
        // console.log(formData);
        // $.ajax({
        //     url: '../Admin/SingleUploadButton',
        //     Type:'POST',
        //     data: { file: file, requestid: requestid }            ,
        //     processData: false,

        //     contentType: false,
        //     success: function (response) {
        //         $('#nav-home').html(response);
        //     },
        //     error: function (error) {
        //         console.error('Error uploading files:', error);
        //     }
        // });
    });
    $('.ConcludeCareSubmitBtn').click(function () {
        let valuebtn = $(this).val();
        let requestid = $('.RequestsId').val();
        console.log(requestid)
        if (valuebtn == "notFinalize") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "first finalize Encounter Form Then Try to conclude Care!",
            });
        }
        else {
            $.ajax({
                url: '/ProviderSide/ConcludeCareSubmit',
               
                data: { requestid: requestid },
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    console.error('Error uploading files:', error);
                }
            });
        }
    });
</script>
