@using Services.ViewModels
@model ViewUploadViewModel
@inject IHttpContextAccessor accessor
<Partial name="Toast" />
@{
    Layout = null;
}
<div class="container  pt-3 pb-4">
    <div class="d-flex justify-content-between mb-2">
        <h4>Conclude Care</h4>
        <a class="btn m-0 btn-outline-info  px-2" onclick="location.reload()">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </a>
    </div>
    <div class="container-fluid bg-white shadow px-3 pt-3">
        <div class="row">
            <div class="col-12  text-secondary " style="font-size:15px;">Patient Name</div>
            <div class="col-12 text-secondary">
                <div>
                    <strong class="h4 text-info fw-bold">@Model.FirstName @Model.LastName </strong>
                </div>
            </div>

            <div class="mt-1 d-flex justify-content-between">
                <div>
                    <h4>Encounter Forms</h4>
                </div>
                <div class="py-3">
                    <form>
                        <input type="file" id="actual-btn-viewupload" asp-for="Upload" multiple hidden />
                        <input type="text" class="RequestsId" value="@Model.requestid" hidden />
                        <label role="button" for="actual-btn-viewupload" id="file-chosen" class="choosenfile text-nowrap text-secondary w-100 d-none">No item selected</label>
                        <button type="button" class="uploadbtnconclude btn btn-outline-info px-2 py-1 d-flex">
                            <label role="button" class="d-flex align-items-center">
                                <i class="bi bi-cloud-arrow-up p-2"></i>
                                <div>Upload</div>
                            </label>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <span id="downloadallbtn-viewupload" class="text-danger"></span>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th width="80%" scope="col">Documents</th>
                        <th width="20%" class="text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.wiseFiles != null)
                    {
                        @foreach (var item in Model.wiseFiles)
                        {
                            <tr>
                                <td class="text-black">@item.FileName.Substring(52)</td>
                                <td class="text-center">
                                    <a class="text-decoration-none  btn btn-outline-info" href="~/UploadDocument/@item.FileName.Substring(52)" download>
                                        <i class="bi bi-cloud-arrow-down"></i>
                                    </a>
                                    <div class=" btn btn-outline-info DeleteDoc" id="@item.RequestWiseFileId">
                                        <i class="bi bi-trash  "></i>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td class="text-black">No Data Available</td></tr>
                    }
                </tbody>
            </table>
            <div class="py-3">
                <form>
                    <input type="number" asp-for="requestid" id="rid" value="@Model.requestid" hidden />
                    <div class=" pt-2">
                        <textarea class="form-control" name="" asp-for="Notes"
                                  placeholder="Notes" id="notes_physician"
                                  style="height: 100px"></textarea>
                    </div>
                    <div class="d-flex justify-content-end pt-3 ">
                        @if (Model.isfinalize == "False")
                        {
                            <button value="notFinalize" type="button" class="btn btn-info text-white fw-normal ConcludeCareSubmitBtn">Conclude Care</button>
                        }
                        else
                        {
                            <button value="Finalize" type="button" class="btn btn-info text-white fw-normal ConcludeCareSubmitBtn">Conclude Care</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Admin/ViewUpload.js" asp-append-version="true"> </script>

<script>

    $('#notes_physician').on('blur', function () {
        var reqid = $('#rid').attr('value');
        var notes = $('#notes_physician').val();
        var viewModel = {
            requestid: reqid,
            BlockNotes: notes
        };
        console.log(viewModel)
        console.log(viewModel)
        console.log(viewModel)
        $.ajax({
            url: '/ProviderSide/PhysicianNotes',
            type: 'POST',
            data: viewModel,
            success: function (data) {
                console.log('Success:', data);
            },
            error: function () {
                console.log('Error occurred');
            }
        });

    });
    $('.uploadbtnconclude').click(function () {
        $('#actual-btn-viewupload').click();
    });

    $('#actual-btn-viewupload').change(function () {
        var formData = new FormData();
        for (var i = 0; i < actualBtn.files.length; i++) {
            formData.append('file', actualBtn.files[i]);
        }
        formData.append('id', $('.RequestsId').val());
        console.log(formData);
        $.ajax({
            url: '../Admin/UploadButton',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (error) {
                console.error('Error uploading files:', error);
            }
        });

    });
    $('.ConcludeCareSubmitBtn').click(function () {
        let valuebtn = $(this).val();
        console.log(valuebtn)
        let requestid = $('.RequestsId').val();
        console.log(requestid)
        if (valuebtn == "notFinalize") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "first finalize Encounter Form Then Try to conclude Care!",
            });
        }
        else {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this conclude care!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Conclude case!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Conclude Case Successfully",
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.timer) {
                            $.ajax({
                                url: '/ProviderSide/ConcludeCareSubmit',
                                data: { requestid: requestid },
                                success: function () {
                                    location.reload();
                                },
                                error: function (error) {
                                    console.error('Error uploading files:', error);
                                }
                            });
                        }
                    });
                }
            });
        }
    });
</script>
